* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contanier {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  gap: 100px;
}
.contanier input {
  padding-left: 5px;

  width: 300px;
  height: 30px;
  outline: none;
  border: none;

  font-weight: bold;
  background-color: antiquewhite;
}
.contanier input:hover {
  border: 2px solid rgb(150, 92, 92);
}
.contanier button {
  height: 30px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;

  border: none;
}
.contanier button:hover {
  background-color: antiquewhite;
}
#listItemid {
  list-style-type: decimal;

  list-style-position: outside;
}

.listItem {
  margin: 20px 33px 10px 40px;

  padding-left: 40px;

  height: 30px;
  display: flex;
  justify-content: space-between;
  background: rgb(139, 139, 188);
  color: rgb(231, 227, 227);
}
.listItem::marker {
  content: counter(list-item) ". ";
  font-weight: bold;
  margin-right: 10px;
}

.listItem span {
  margin-right: 50px;
}
.listItem button {
  font-weight: bold;
  border: none;
  width: 100px;
}
.listItem button:hover {
  background: rgb(230, 230, 236);
}
