@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
  margin: 0;
  padding: 0;
   font-family: "Crimson Pro", serif;
   box-sizing: border-box;
  
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677,#23489069, #67764897,#445456);
  padding: 10px;
}
.todo-app{
  width: 100% ;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;

}
.todo-app h2{
color: #234523;
display: flex;
align-items: center;
margin-bottom: 20px;
}
.todo-app h2 i{
  width: 30px;
  margin-left: 5px;
  color: rgb(252, 88, 6);
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(124deg,#191d15,#678965,#123456)  ;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  color: white;
  font-size: 20px;
}
button{
  outline: none;
  border: none;
  padding: 16px 50px;
  background: #455988;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;

}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
ul li::before{
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
 background-image: url(images/image.png);
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(images/images.png);
}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #091458;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;

}
ul li span:hover{
  background-color: #f876 ;
}
